<footer>
  <div class="logo">
      <img src="../../assets/assets/logo-societe-generale.png" alt="Société Générale">
  </div>
  <div class="footer-bottom">
      <div class="legal">
          <a href="#">Contact |</a>
          <a href="#">Mentions légales |</a>
          <a href="#">Plan du site |</a>
          <a href="#">Sécurité |</a>
          <a href="#">Crédits</a>
      </div>
      <div class="nos-sites">
          <select>
              <option value="none" disabled selected>Nos sites</option>
              <option value="site1">Site 1</option>
              <option value="site2">Site 2</option>
              <option value="site3">Site 3</option>
          </select>
      </div>
  </div>
</footer>
