<section class="offres-similaires">
  <h2>Offres similaires</h2>
  <div class="offre">
      <span class="contrat">CDD</span>
      <p>International Marketing Project Manager H/F</p>
      <p class="location">Brazzaville</p>
  </div>
  <div class="offre">
      <span class="contrat">CDI</span>
      <p>Contrôleur de Gestion Sociale H/F</p>
      <p class="location">Point-Noire</p>
  </div>
  <div class="offre">
      <span class="contrat">CDD</span>
      <p>Conseiller Clientèle BtoB, H/F, CDD</p>
      <p class="location">Point-Noire</p>
  </div>
</section>
