<section class="candidatures">
  <h2 class="candutures_bar">Vos candidatures</h2>
  <table>
      <thead>
          <tr>
              <th># DE L'OFFRE</th>
              <th>INTITULÉ DE L'OFFRE</th>
              <th>DATE DE MISE AU LIGNE</th>
              <th>STATUT DE LA CANDIDATURE</th>
              <th>RETOUR RH</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>3234</td>
              <td>Chef de service déploiement</td>
              <td>13/08/2018</td>
              <td>En cours</td>
              <td style="color: blue;">Entretien le 31/08/2018</td>
          </tr>
          <tr>
              <td>3237</td>
              <td>Contrôleur de Gestion</td>
              <td>14/08/2018</td>
              <td>Entretien le 31/08/2018</td>
              <td class="rejected">Rejetée</td>
          </tr>
          <tr>
              <td>3237</td>
              <td>Conseillère clientèle</td>
              <td>09/08/2018</td>
              <td>Entretien le 31/08/2018</td>
              <td class="accepted">Accepté</td>
          </tr>
      </tbody>
  </table>
</section>
