<section class="candidatures">
  <h2 class="candutures_bar">Vos candidatures</h2>
  <table>
      <thead>
          <tr>
              <th># DE L'OFFRE</th>
              <th>INTITULÉ DE L'OFFRE</th>
              <th>DATE DE MISE AU LIGNE</th>
              <th>STATUT DE LA CANDIDATURE</th>
              <th>RETOUR RH</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>3234</td>
              <td>Chef de service déploiement</td>
              <td>{{ '2018-08-13' | date: 'fullDate' | titlecase}}</td>
              <td>En cours</td>
              <td style="color: blue;">Entretien le {{ '2018-08-31' | date: 'fullDate' }}</td>
          </tr>
          <tr>
              <td>3237</td>
              <td>Contrôleur de Gestion</td>
              <td>{{ '2018-08-14' | date: 'fullDate' | titlecase}}</td>
              <td>Entretien le {{ '2018-08-31' | date: 'fullDate' }}</td>
              <td class="rejected">Rejetée</td>
          </tr>
          <tr>
              <td>3237</td>
              <td>Conseillère clientèle</td>
              <td>{{ '2018-08-09' | date: 'fullDate' | titlecase }}</td>
              <td>Entretien le {{ '2018-08-31' | date: 'fullDate' }}</td>
              <td class="accepted">Accepté</td>
          </tr>
      </tbody>
  </table>
</section>
